venv/
*.pyc
[venv]/lib/*.so
[venv]/lib/*.a
[venv]/lib/python*/site-packages/*.so
[venv]/lib/python*/site-packages/*.a
[venv]/lib/python*/site-packages/pygame/*.so
[venv]/lib/python*/site-packages/sqlite3/*.so
[venv]/lib/python*/site-packages/PIL/*/*.so
[venv]/lib/python*/site-packages/cffi/*.so
[venv]/lib/python*/site-packages/pip/_vendor/*.so
[venv]/lib/python*/site-packages/numpy/*.so
[venv]/lib/python*/site-packages/scipy/*.so
[venv]/lib/python*/site-packages/h5py/*.so
[venv]/lib/python*/site-packages/astropy/*.so
